/*Assign color variables to root ---------------------------------------------------------*/
:root {
    --color1: #4c5958;
    --color2: #f2f2f3;
    --color3: #10403b;
    --color4: #127369;
    --color5: #8aa6a3;
}

/*Box-sizing to maintain element inside parent containers--------------------------------*/

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*font family-----------------------------------------------------------------------------*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*----------------------------------------------------------------------------------------*/

html {
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 1.2;
}

h1 {
    font-size: calc(calc(1.5rem) * 1.618);
    font-weight: 600;
}


p, label {
    font-size: 1.4rem;
}

input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
}

select,
input.radio-control,
input.checkbox-control:hover {
    cursor: pointer;
}

input[type='radio'], input[type='checkbox'] {
    accent-color: var(--color4);
}

body {
    background-color: var(--color1);
    font-size: 1.6rem;
}

/*Survey Form-----------------------------------------------------------------------------*/

.container {
    background-color: var(--color3);
    margin: auto;
    width: fit-content;
}

header {
    color: var(--color2);
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: center;
    padding: 2rem;
    text-align: center;
}

form {
    background: var(--color2);
    border-radius: 10px;
    padding: 2rem;
}

.form-group {
    margin: 0 auto 2.5rem auto;
}

.form-control {
    display: block;
    background-color: white;
    border: none;
    margin: 8px 0;
    padding: 12px 20px;
    width: 100%;
}

.form-control:focus {
    outline: 2px solid var(--color4);
}

.radio-control,
.checkbox-control {
    margin-right: 0.7rem;
}

label {
    align-items: left;
    display: flex;
    margin: 1rem 0;
}

small {
    color: var(--color4);
    font-size: 1rem;
    margin-left: 0.25rem;
}

.text-area {
    margin: 0;
    margin-top: 1rem;
    min-height: 120px;
    padding: 0.625rem;
    resize: vertical;
    width: 100%;
}

.submit-btn {
    background-color: var(--color5);
    border: none;
    color: var(--color2);
    cursor: pointer;
    display: inline-block;
    font-size: 2rem;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    transition: 0.5s ease;
    width: 100%;
}

.submit-btn:hover {
    background-color: var(--color4);
}

footer {
    padding: 2rem;
}

footer p {
    color: var(--color5);
    font-size: 1.2rem;
}

.origin {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.left {
    padding: 1rem;
}

#freeCodeCamp {
    width: calc(17.5vw * 1.618);
    height: auto;
    max-width: 24rem;
}

#freeCodeCamp path {
    fill: var(--color5);
}

.right {
    padding: 1rem;
    border-left: 1px solid var(--color5);
}

/*media queries---------------------------------------------------------------------------*/


@media only screen and (min-width: 20em) {
    h1 {
        font-size: calc(calc(1.95rem) * 1.618);
    }

    .left, .right {
        padding: 2rem;
    }
}

/* Small devices such as large phones (640px and up) */
@media only screen and (min-width: 40em) {
    h1 {
        font-size: calc(calc(3rem) * 1.618);
    }
    
    p, label {
        font-size: 1.6rem;
    }

    footer {
        padding: 2rem;
    }

}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 48em) {

    
    footer p {
        font-size: 1.4rem;
    }
}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 64em) {
    h1 {
        font-size: calc(calc(4rem) * 1.618);
    }
}